@import "tailwindcss";

@theme {
  --color-primary: #b8e5df;
  --color-primary-light: #deeeed;
  --color-secondary: #feaa95;
  --color-accent-dark: #0f172b;
  --color-link: #2d9b8f;

  --font-family-sans: Arial, sans-serif;
}

body {
  font-family: var(--font-family-sans);
}

a:not(nav a, footer a) {
  color: #2d9b8f;
}

a:not(nav a, footer a):hover {
  color: #257f75;
}

/* hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
